

.formControl {
    margin-bottom: 20px;
    color: white;   
}
  
  .label {
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .questionContainer {
    margin-bottom: 24px;
    color: antiquewhite; 

  }
  .selectFormControl option:checked {
   background-color: purple; /* Couleur du texte de l'option sélectionnée */
  }
  
  .selectContainer .MuiMenuItem-root {
    padding: 8px 16px;
    color: white;
    cursor: pointer;
  }

  .selectContainer .MuiSelect-select {
    color: white;
    outline: none;
    cursor: pointer;
  }
 
.btn{
    display: flex;
    justify-content: center;
}
 .message{
  color: rgba(255, 255, 255, 0.91);
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 18px;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.stepper{
  padding-top: 14%;
}
Card{
  background-color: red;
}