h5{
    font-size: 14px;
    font-weight: 400;
}
.name{
    font-weight: 600;
    color: rgba(122, 217, 13, 0.782);
}
h3{
    font-size: 14px;
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.599);
}
.CompanyName{
    font-size: 14px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(2, 2, 26);

}