.gridButton{
    position: relative;
    display: flex !important;
    gap: 2%;


}
.actionButtonn {
    color: white !important; 
    cursor: pointer;
    min-width: 2px !important;

    width: 10px !important;
}
.roundedAdd{
    position: absolute;
    background-color: rgb(0, 4, 24) !important;
    color: white !important;
    margin-left: 83% !important;
}
.add{
    background-color: rgb(22, 1, 41) !important;
    color: white !important;
    width: 10%;
}
.cancel{
    background-color: rgb(195, 7, 7) !important;
    color: white !important;
    width: 10%;
}
.gridbtn{
    display: flex !important;
    gap: 1%  ;
    justify-content: center;
    color: rgba(45, 43, 43, 0.911);
}