.tdClass {
  color: rgba(42, 42, 44, 0.863) !important;
  font-size: small!important;;
  font-weight: 400 !important;;
  font-size: 15px !important;; 
  line-height: 1!important;
}

 td em {
  color: rgba(0, 1, 13, 0.551)!important;
  font-size: 15px;
  font-style: normal; 
  font-weight: 700;
 
  }
.attr1{
 display: flex;
 gap:20px;
}
.closeAccount{
  color: white !important;
  background-color: rgba(3, 2, 36, 0.886) !important;
  margin-top: -20% !important;
}
.profileTextt{
  display: flex;
  gap: 5%;
  padding: 2%;
}
.terms{
  padding: 2%;
  font-size: 13px;
  color: rgba(6, 6, 89, 0.819);
  font-weight: 500;
}