.chat {
  background-color: #2382e0 !important;
  padding: 20px;
}

.bgContainer {
  padding-top: 10% !important; 
  max-width: 800px;
  margin: 0 auto;
}

.bgContainer h1 {
  color: rgba(58, 56, 56, 0.934);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
}

.chat-box {
  background-color: #ebe9e9; 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow-y: auto;
  height: 300px;
}

.form-group textarea {
  border-radius: 8px;
  color: black;
  border: 1px solid #9e8ba4 !important;
  padding: 10px;
  width: calc(100%); 
  resize: none; 
}

.form-group {
  padding: 10px;
  width: calc(100% - 22px); 
  resize: none; 
}

.user-message, .bot-response {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-message {
  justify-content: flex-end;
}

.bot-response {
  justify-content: flex-start;
}

.user-text {
  background-color: #add8e6; 
  padding: 1%;
  border-radius: 8px;
}

.bot-text {
  background-color: #d3d3d3; 
  padding: 1%;
  border-radius: 8px;
}

.avatar {
  width: 4%;
}

.chatBtn {
  width: 10% !important;
  margin: 2% 0 0 90% !important;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}
