.container {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 48rem;
   
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 76%;
    background-size: cover;
    background-position: center;
  }
 
  
  .text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "breve-text", serif;
   
  }
  
  .btnHome {
    color: white !important;
    background-color: rgba(239, 147, 10, 0.897) !important;
    padding: 10px !important;
    margin-left: 40% !important;
    margin-top: 5% !important;
    width: 25%;
    border: none;
    cursor: pointer;
  }
  .btnHomee {
    color: white !important;
    background-color: rgba(158, 72, 198, 0.897) !important;
    padding: 10px !important;
    display: flex;
    margin:5% 0 0 30% !important;
    width: 40%;
    cursor: pointer;
  }
  
  .btnHome:hover {
    background-color: rgb(97, 12, 62);
  }


h4 {
    font-weight: 400;
    color: rgba(238, 237, 237, 0.903);
  
}


/* Section 2 */
.grid {
    display: flex;
    justify-content: center;
    gap: 5%; 
    margin-top: -13% !important;
    
}
.grid img{
   width: 6%;
   height: 5rem;
   gap: 1%; 
   margin-top: -2%;
}
.sectionn3
{
    display: flex;
    justify-content: center;
    gap: 33% !important;
    height: 17rem !important;
    margin-top: 5% !important;
    background-color: rgb(215, 223, 246) !important;

}

.cardClass {
    position: relative;
    width: 28%;
    text-align: center; 
    margin-top: 7%;
}

.cardClass h4 , .quote_card h4{
    color: rgba(134, 59, 184, 0.879); 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding-top: 4%; 
    text-align: center;  
}
.cardClass h4 strong{
    color: rgb(62, 12, 95); 
    
}
 .quote_card h4{
    color: rgba(12, 5, 66, 0.896); 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding-top: 4%; 
    text-align: center;  
}
.cardClass p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-top: 2%; 
    color: rgb(37, 11, 67); 
   
}

/* service section*/ 

 .service_section{
    position: relative !important ;
    padding-top: 5%;
    margin-top: 10% !important;
}
 
.services_components{
    padding-top: 4%;
}
 .reviews_section ,.teams_section, .clients_section{

    position: relative !important ;
    display: flex !important ; 
    flex-direction: column !important ;  
    align-items: center !important ;    
    padding-top: 4% !important ;  
    width: 100% !important ; 
}

.service-heading{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -8% !important ; 
}

.section-heading{
    position: absolute; 
    padding-bottom: 5%;
    
}
.section-heading h6{
    margin-left:40% ;
    font-size: 15px;
    color: rgba(61, 57, 57, 0.922);  
    font-weight: 500;
    margin-bottom: 5px;
}
.section-heading h4{
    padding-top: 21px;
    color: rgb(15, 15, 16);
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;   
}
.section-heading h4 em{
    color: rgba(55, 6, 83, 0.812);
    font-weight:600;
    font-style: normal;
}


.services_items {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    margin-left: 20% !important;
    width: 130% !important;
    gap: 10px;
    
}

.texttCard{
    background-image: url('assets/images/item.jpg');
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center ;
    align-items: center;
    height: 2.5rem;
    width: 40%;
    box-shadow: 1px 2px 4px 2px rgba(146, 145, 143, 0.91)!important;

}

.serviceCard1{
    background-color: transparent !important;
     border: 1px solid rgb(157, 105, 239) !important;
    box-shadow: 1px 1px 1px 0px rgba(110, 110, 110, 0.292)!important; 
    box-shadow: 1px 2px 4px 2px rgb(184, 182, 180) !important;
    margin-left:2%;
    margin-right:6%;
    width: 90%;
     
}
.serviceCard1 h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(5, 5, 61);
    text-align: center;
}

.serviceCard1 .content{
    padding: 1%;
    
}

.content p{
padding-top: 4%;
color:  rgba(0, 0, 0, 0.877);
font-size: 12px;
font-weight: 400;
}
.content p em{
    color: #590c59c5;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
}

.services_items .texttCard{
    background-image: url('assets/images/r.jpg');
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 2.5rem;
}
.texttCard p{
    position:absolute;
    color: white;
    font-size: 14px;
    font-weight: 600;
    top: -25%;
}


/* section Teams*/ 

.teams_items {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    gap: 5%;  

}
.team_card{
    background-color: rgba(255, 255, 255, 0.852) !important; 
    height:22rem;
    width: 20rem ;
    text-align: center; 
    box-shadow: 1px 2px 1px 2px rgba(140, 139, 139, 0.338);
}
img{
    width: 100%;
    height: 85%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}
.team_card h6{
    padding-top: 5%;
    color: rgba(56, 53, 53, 0.768);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;   
}
.team_card em{
   color: rgba(0, 0, 0, 0.888);

}


/* benefits section  */

.reviews_items {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    gap: 5%;
    
}
.reviews_card{
    margin: -5% 0 2% 0;
    height:4.5rem;
    width: 22.5rem;
    text-align: center; 
   
 
}
.reviews_items{
    background-color: rgb(215, 223, 246);
    margin-top: 10%;
    height: 16rem;
    width: 100%;
}

.reviews_card p{
color:  rgb(129, 21, 141);
font-size: 21px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reviews_card p strong {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 100; 
    color: rgb(47, 6, 85);
    
   
}
/* clients section*/
 
 .clients_items{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    gap: 5%;  
 }
.quote_card{
    background-image: url('assets/images/yy.jpg');
    height:25rem;
    width: 22rem;
    box-shadow: 1px 4px 1px 2px rgba(110, 49, 103, 0.267)!important; 
    display: flex;
    gap: 5%;
    padding: 2%;
}

.quote_card p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 13px;
    color: rgba(43, 42, 43, 0.884);
    font-weight: 400;  
}

.CardComponents{
    margin-top: 15% !important; 
}
.LeftMobileCard{
    background-color:transparent!important;
    border: 1px solid rgb(157, 105, 239) !important;
    box-shadow: 1px 1px 1px 0px rgba(110, 110, 110, 0.292)!important; 
    width: 50%;
    height: 23rem;
    padding: 3%;
     align-items: center;
}

.LeftMobileCard h4{
    color: rgb(1, 1, 72);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 600;
   
}

.LeftMobileCard p{
    color: rgba(5, 5, 44, 0.729);
    font-size: 14px;
    font-weight: 100;
}



@media (max-width: 870px) {
    .teams_items, .reviews_items{
      margin-top: 12%;
    }
    .clients_items{
        margin-top: 10%;   
    }
    .section-heading h4{
       font-size:22px ;  
    }
    .team_card  {
        width: calc(50% - 20px); 
      }
      .container .text-container h1 {
        font-size: 1.4rem !important ;
      }
      .container .text-container h4 {
        font-size: 0.9rem  !important ;
      }
      .container .text-container .btnHome {
        width: 40%;
        margin-left:20% !important;
      }
      .cardClass{
          margin-top: -28%;
      }
      }

  @media (max-width: 900px) {
      .reviews_card {
        width: 50%;
        height:100px; 
        display: flex;
        justify-content: center;
      }
      .teams_section, .clients_section {    
        padding-top: 5% !important ;    
        }
        .itemCard{
            width: 50%;
        }

  }

  @media (max-width: 1300px) {

    .container .text-container{
     margin-left: 6%;
    }
    .container .text-container h1 {
      font-size: 1.7rem;
    }
    .container .text-container h4 {
      font-size: 1.1rem;
    }
        
  }


 
  

  
