.container {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 48rem;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
  }
 
  
  .text-container {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .text-container h1 {
  font-size: 38px;
  font-weight: 600;
  font-family: Segoe UI,Arial,sans-serif;
  }
  .text-container h4 {
    font-weight: 100;
    font-family: Segoe UI,Arial,sans-serif;
    color: white;
    }

  
  .btnHome {
    color: white !important;
    background-color: rgba(239, 147, 10, 0.897) !important;
    padding: 10px !important;
    margin-left: 35% !important;
    margin-top: 5% !important;
    width: 25%;
    border: none;
    cursor: pointer;
  }
  .btnHome:hover{
   background-color: #7244dda7 !important;
  }
  .btnHomee {
    color: white !important;
    background-color: #7F27FF!important;
    padding: 10px !important;
    display: flex;
    margin:5% 0 0 30% !important;
    width: 40%;
    cursor: pointer;
  }
  .btnHomee:hover{
    background-color: rgba(255, 154, 4, 0.922)  !important;
   }
  

h4 {
    font-weight: 400;
    color: rgba(238, 237, 237, 0.903);
  
}


/* Section 2 */
.grid {
    display: flex;
    justify-content: center;
    gap: 2%; 
    margin-top: -13% !important;
    
}
.grid img{
   width: 6%;
   height: 5rem;
   gap: 1%; 
   margin-top: -2%;
}
.sectionn3
{
    display: flex;
    justify-content: center;
    gap: 33% !important;
    height: 8rem !important;
    background-color: rgba(209, 217, 243, 0.585) !important;
    border:1px solid rgb(169, 203, 218);

}

.cardClass {
    position: relative;
    width: 28%;
    text-align: center; 
    margin-top: 7%;
}

.cardClass h4 , .quote_card h4{
    color: rgba(134, 59, 184, 0.879); 
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding-top: 4%; 
    text-align: center;  
}

.quote_card h4{
    color: rgba(24, 12, 90, 0.879); 
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 14px !important;
    font-weight: 600;
    padding-top: 4%; 
    text-align: center;  
}
.cardClass h4 strong{
    color: rgb(24, 6, 86); 
    
}

.cardClass p {
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-top: 2%; 
    color: rgb(37, 11, 67); 
   
}

/* service section*/ 

 .service_section{
    position: relative !important ;
   margin-top: -18%; 
}
 
.services_components{
    padding-top: 6%;
}
 .reviews_section ,.teams_section, .clients_section{

    position: relative !important ;
    display: flex !important ; 
    flex-direction: column !important ;  
    align-items: center !important ;    
    padding-top: 4% !important ;  
    width: 100% !important ; 
}

.service-heading{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -8% !important ; 
}

.section-heading{
    position: absolute; 
    padding-bottom: 5%;
    
}
.section-heading h6{
    margin-left:40% ;
    font-size: 15px;
    color: rgba(61, 57, 57, 0.922);  
    font-weight: 500;
    margin-bottom: 5px;
}
.section-heading h4{
    color: rgb(15, 15, 16);
    font-weight: 700;
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 22px;   
}
.section-heading h4 em{
    color: rgba(134, 59, 184, 0.879);
    font-style: normal;
}
.services_components{
    margin-left: 10% !important;
}


.services_items {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    margin-left: 3% !important;
    width: 150% !important;
    gap: 10px;
    margin-top: -25% !important;
}

.texttCard{
    background-image: url('assets/images/item.jpg');
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center ;
    align-items: center;
    height: 2.5rem;
    width: 40%;
    box-shadow: 1px 2px 4px 2px rgba(146, 145, 143, 0.91)!important;

}

.serviceCard1{
    background-color: transparent !important;
    border: 0.5px solid rgb(137, 132, 145) !important;
    margin-left:2%;
    margin-right:6%;
    width: 90%;
     
}
.serviceCard1:hover ,.LeftMobileCard:hover,.contact:hover{
    background-color: white !important;
    box-shadow: 1px 2px 5px 1px rgba(3, 3, 59, 0.399);
     
}
.serviceCard1 h5{
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 25px;
    color: rgb(5, 5, 61);
    text-align: center;
}
.serviceCard1 h5:hover{   
    color: #7d27ffea;
    cursor: pointer;
}

.serviceCard1 .content{
    padding: 1%;
    
}

.content p{
padding-top: 4%;
color:  rgba(0, 0, 0, 0.877);
font-size: 12px;
font-weight: 400;
}
.content p em{
    color: #590c59c5;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
}

.services_items .texttCard{
    background-image: url('assets/images/r.jpg');
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 2.5rem;
}
.texttCard p{
    position:absolute;
    color: white;
    font-size: 14px;
    font-weight: 600;
    top: -25%;
}


/* section Teams*/ 

.teams_items {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    gap: 5%;  

}
.team_card{
    background-color: rgba(255, 255, 255, 0.852) !important; 
    height:22rem;
    width: 20rem ;
    text-align: center; 
    box-shadow: 1px 2px 1px 2px rgba(140, 139, 139, 0.338);
}
img{
    width: 100%;
    height: 85%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}
.team_card h6{
    padding-top: 5%;
    color: rgba(56, 53, 53, 0.768);
    font-size: 15px;
    font-family: Segoe UI,Arial,sans-serif;  
}
.team_card em{
   color: rgba(0, 0, 0, 0.888);

}


/* benefits section  */

.reviews_items {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    gap: 5%;
    
}
.reviews_card{
    margin: -5% 0 2% 0;
    height:4.5rem;
    width: 22.5rem;
    text-align: center; 
}
.reviews_items{
    background-color: rgb(215, 223, 246);
    margin-top: 10%;
    height: 16rem;
    width: 100%;
}

.reviews_card p{
color:  rgb(32, 4, 91);
font-size: 15px;
font-family: Segoe UI,Arial,sans-serif;
}

.reviews_card p strong {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight: 100; 
    color: rgba(39, 26, 184, 0.758);
    
   
}
/* clients section*/
 
 .clients_items{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    gap: 5%;  
 }
.quote_card{
    background-color: transparent !important;
    border: 0.5px solid rgb(87, 82, 98) !important;
    height:21rem;
    width: 22rem;
    display: flex;
    gap: 5%;
    padding: 2%;
    margin-top: -3%;
}
.quote_card:hover{
  background-color: rgba(84, 79, 221, 0.918) !important;
  border-radius: 40%;
  cursor: pointer;
}
.quote_card p:hover{
   color: white;
  }
.quote_card p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 13px;
    color: rgba(43, 42, 43, 0.884);
    font-weight: 400;  
}

.CardComponents{
    margin-top: 15% !important; 
}
.LeftMobileCard{
    background-color:transparent!important;
    border: 1px solid rgb(157, 105, 239) !important;
    box-shadow: 1px 1px 1px 0px rgba(110, 110, 110, 0.292)!important; 
    width: 50%;
    height: 23rem;
    padding: 3%;
     align-items: center;
}

.LeftMobileCard h4{
    color: rgb(1, 1, 72);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 600;
   
}

.LeftMobileCard p{
    color: rgba(5, 5, 44, 0.729);
    font-size: 14px;
    font-weight: 100;
}

body {
    background-color: #444442;
    padding-top: 85px;
}

h1 {
    font-family: Segoe UI,Arial,sans-serif;
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: Segoe UI,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.752);
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}


.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.contact{
    margin:9% 3% 0 50%;
    border: 1px solid #140750a9;
    padding: 3%;
    box-shadow: 1px 1px 2px  grey;
    border-radius: 5%;
}


.footerSection h5{
    margin-bottom: 5%;
    font-weight: 600;
    font-size: 17px;
    color: black;
    font-style: normal;
    font-family: Segoe UI,Arial,sans-serif;
}
.footerSection h5:hover{
 color: #1b0640;
 cursor: pointer;
}

.footerSection li{
    margin-bottom: 2%;
    font-size: 14px;
    font-style: normal;
    font-family: Segoe UI,Arial,sans-serif;
}
.footerSection li:hover{
 color: #7d27ffd6;
 cursor: pointer;

}

.footerSection .footer{
 padding: 3%;
 background-color: white;
}

.footerContainer img{
    width: 100%;
    height: 3rem;
}

.icons{
  margin-top: 6%;
  font-size: 1.4rem;
}
.icons  span:hover{
    color: #7F27FF;
    cursor: pointer;
}





@media (max-width: 660px) {

    .service_section .img{
        width: 10% !important;
        height: 11rem !important;
        background-color: red !important;
    }
        
  }


@media (max-width: 870px) {
    .teams_items, .reviews_items{
      margin-top: 12%;
    }
    .clients_items{
        margin-top: 10%;   
    }
    .section-heading h4{
       font-size:22px ;  
    }
    .team_card  {
        width: calc(50% - 20px); 
      }
      .container .text-container h1 {
        font-size: 1.4rem !important ;
      }
      .container .text-container h4 {
        font-size: 0.9rem  !important ;
      }
      .container .text-container .btnHome {
        width: 40%;
        margin-left:20% !important;
      }
      .cardClass{
        width: 20% !important;
        height: 20rem ;
        font-size: 12px !important;
      }
      }

      

  @media (max-width: 900px) {
      .reviews_card {
        width: 50%;
        height:100px; 
        display: flex;
        justify-content: center;
      }
      .teams_section, .clients_section {    
        padding-top: 5% !important ;    
        }
        .itemCard{
            width: 50%;
        }

  }

  @media (max-width: 1300px) {

    .container .text-container{
     margin-left: 6%;
    }
    .container .text-container h1 {
      font-size: 1.7rem;
    }
    .container .text-container h4 {
      font-size: 1.1rem;
    }
        
  }


 
  

  
