
.btnPerformancee {
    border: 1px solid transparent;
    transition: border-color 0.3s ease; 
}
.btnPerformancee :hover{
    border-bottom: 2px solid rgb(59, 45, 149) !important;
    background-color:gray  !important;
}