h4{
    color: aliceblue;
}
h6{
    color: rgba(149, 148, 148, 0.741);
}

.txt{
font-size: 14px;
font-weight: 400;
}
.alertClass{
 margin: 7%;
  font-size: 14px;
  font-weight: 500!important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.SigninForm{
    margin-top:25%
}