h4{
    color: aliceblue;
}
h6{
    color: rgba(149, 148, 148, 0.741);
}

.txt{
font-size: 14px;
font-weight: 400;
}
.alertClass{
  margin-top: 9% !important;
  font-size: 16px;
  font-weight: 500!important;
 font-style: italic;
}