/* CSS */

.detailsTitle{
  font-size: 24px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(0, 0, 0, 0.867);
  padding: 2% 0 0 2% ;
}
.detailsTitle strong{
  color: rgb(11, 23, 114);
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 6%;
    height: 25em;
    width: 85%;


    box-shadow: 1px 2px 4px 2px rgba(15, 10, 52, 0.532)!important;
  }  
  .profile_imgg {
    width: 180px; 
    height: 187px;
    border-radius: 50%;
    margin: -2% 2% 2% 15% !important;
    Box-shadow: 1px 2px 4px 2px rgb(137, 137, 137);
 
  }
  .btnProfile{
    color: white !important;
    background-color: blueviolet !important;
    margin: 3% 2% 7% 30% !important;
   }
  
  .profile-details {
    margin-top: 1rem;
    text-align: center;
  }
  
  .update-form-card {
    height: 27rem;
    padding: 3%;
    width: 90%;
    margin: -18% 7% 0 0  !important;
    box-shadow: 1px 2px 4px 2px rgba(30, 41, 80, 0.622)!important;
  }

  .detailsValues {
    color: rgba(42, 42, 44, 0.863) !important;
    font-size: small!important;;
    font-weight: 400 !important;;
    font-size: 15px !important;; 
    line-height: 1!important;
    width: 100%;
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
   td em {
    color: rgba(0, 1, 13, 0.551)!important;
    font-size: 15px;
    font-style: normal; 
    font-weight: 700;  
    }
  .attr1{
   display: flex;
   gap:20px;
  }
  .closeAccount{
    color: white !important;
    background-color: rgba(3, 2, 36, 0.886) !important;
    margin-top: -20% !important;
  }
  .profileTextt{
    display: flex;
    gap: 5%;
    padding: 2%;
    text-align: justify;
    
  }
  
  .profileTextt h6{
   color: rgba(0, 0, 0, 0.786) ;
   font-weight: 600;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 14px;
   text-align: justify;
  }
  .terms{
    margin-top: -5%;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.636);
    font-weight: 400;
    text-align: justify;
    width: 160%;
  }
  .Information{
    color: rgba(0, 0, 0, 0.679);
    font-size: 14px;
  
    width: 40%;
    font-weight: 400;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .details{
    font-size: 15px !important;
    padding:3% 6% 6% 0 !important;
    color: rgba(0, 0, 0, 0.837);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .detailsForm{
    font-size: 15px !important;
    padding:3% 2% -2% 0 !important;
    color: rgba(0, 0, 0, 0.837);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .detailsField{
    font-weight: 600 !important;
    color: rgba(17, 1, 21, 0.9) !important;
    font-size: 12.5px !important;
    width: 100% !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
}
 
  .update-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 7%;
    height: 20rem;
  }
  
  .empty-card {
    margin: 5% 0 0 5%;
    padding-left: 5%;
    width: 87% !important;
    box-shadow: 1px 2px 4px 2px rgba(206, 205, 200, 0.91)!important;
    background-color: rgba(3, 3, 26, 0.964) !important;
  }
  .profileFormBtn{
    color: white !important;
    background-color: blueviolet !important;
  }
  .messageBox TextField{
    height: 2rem !important;
  }
  