.profile_img{
    border-radius: 47%;
    height: 140px;
    width: 115%;
    box-shadow: 3px 1px 11px 2px rgb(100, 98, 98);
}

h5{
    font-size: 20px;
    font-weight: 600;
}
.profileText{
    font-size: 15px;
    font-weight: 400;
    color: rgba(90, 89, 89, 0.916)!important;
    padding-top: 10%;
}

.profileTitle{
    font-size: 15px;
    font-weight: 400;
    color: rgba(90, 89, 89, 0.916)!important;
    margin-left: 20%!important;
   
}